SECRET_KEY=secret_key
DEBUG=true

DATABASE_ENGINE=sqlite
;DATABASE_ENGINE=postgresql

; === FOR POSTGRESQL ===
DATABASE_NAME=my_database
DATABASE_SCHEMA=my_schema
DATABASE_USER=my_user
DATABASE_PASSWORD=my_password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
